{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block--hero',
    'hero'
  ]
%}

{{ attach_library('bsos_drupal9/hero') }}

{# Variables #}
{% set hero_type = content.field_hero_type.0|render|striptags|spaceless %}
{% set media_url = content.field_media_url.0|render|striptags|spaceless %}
{% set title = content.field_hero_title.0 %}
{% set video_link = content.field_video_link.0['#url'] %}

{# Two Card Slider Variables #}
{% set hero_card_left_title = content.field_hero_card_left_title.0 %}
{% set hero_card_right_title = content.field_hero_card_right_title.0 %}
{% set hero_card_left_link = content.field_hero_card_left_link.0['#url'] %}
{% set hero_card_right_link = content.field_hero_card_right_link.0['#url'] %}
{% set hero_card_left_icon = content.field_hero_card_left_icon.0|render|striptags|spaceless %}
{% set hero_card_right_icon = content.field_hero_card_right_icon.0|render|striptags|spaceless %}

{# Content #}
<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}

  {# check Type #}
  {% if hero_type == 'single_image_hero' %}

    <div class="single-image-hero inview-element" style="background-color:#0f1520;background-image: url({{ media_url }});">
      <div class="hero-overlay"></div>
      <div class="hero-container justify-end">
        <h1 class="hero-h1 animated fade-in-bottom">{{ title }}</h1>
        {# two-card-slider start #}
        <section class="section-twocardslider">
          <div id="two-card-slider" class="two-card-slider owl-carousel owl-theme">
            <div class="item">
              <div class="hero-card left">
                {% if hero_card_left_link %}<a href="{{ hero_card_left_link }}" tabindex="0">{% endif %}
                  <div class="small-icon">
                    <img decoding="async" width="62" height="52"
                      src="{{ hero_card_left_icon }}"
                      class="attachment-full size-full" alt="" loading="lazy">
                  </div>
                  <span class="hero-card-title">{{ hero_card_left_title }}</span>
                {% if hero_card_left_link %}</a>{% endif %}
              </div>
            </div>
            <div class="item">
              <div class="hero-card right">
                {% if hero_card_right_link %}<a href="{{ hero_card_right_link }}" tabindex="0">{% endif %}
                  <div class="small-icon">
                    <img decoding="async" width="62" height="52"
                      src="{{ hero_card_right_icon }}" class="attachment-full size-full"
                      alt="" loading="lazy">
                  </div>
                  <span class="hero-card-title">{{ hero_card_right_title }}</span>
                {% if hero_card_right_link %}</a>{% endif %}
              </div>
            </div>
          </div>
        </section>
        {# two-card-slider end #}
      </div>
    </div>

  {% elseif hero_type == 'lightbox_hero' %}

    <div class="lightbox-hero inview-element" style="background-color:#0f1520;background-image: url({{ media_url }});">
      <div class="hero-overlay"></div>
      <div class="hero-container justify-end text-center">
        <h1 class="hero-h1 animated fade-in-bottom">{{ title }}</h1>

        {# Check Link #}
        {% if video_link %}
          <a href="{{ video_link }}"
            class="youtube-popup icon-button animated fade-in-bottom "><span class="sr-only">Play
              Video</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
            </svg>
          </a>
        {% endif %}

      </div>
    </div>

  {% elseif hero_type == 'video_hero' %}

    <div class="video-hero inview-element">
      <div class="video-container">
        <div class="video-bg" data-vbg="{{ video_link }}"></div>
      </div>
      <div class="video-overlay"></div>
      <div class="hero-container justify-end">
        <h1 class="hero-h1 animated fade-in-bottom">{{ title }}</h1>
      </div>
    </div>

  {% elseif hero_type == 'carousel_hero' %}

    <div class="carousel-hero">
      <div id="hero-carousel" class="owl-carousel owl-theme">
        {{ content.field_carousel_hero_item }}
      </div>
    </div>

  {% endif %}

  {% endblock %}

</div>

