<div{{ attributes }} data-ride="carousel" data-interval="{{ settings.carousel.interval }}">
  <div class="carousel-inner" role="listbox">
    {% for slide in content %}
      <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
          {{ slide.slide }}
      </div>
    {% endfor %}
  </div>
  {% if settings.carousel.controls == 1 %}
    <a class="carousel-control-prev" href="#{{ attributes.id }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ attributes.id }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  {% endif %}
  {% if settings.carousel.indicators == 1 %}
    <ol class="carousel-indicators">
    {% for slide in content %}
      <li data-target="#{{ attributes.id }}" data-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}"></li>
    {% endfor %}
    </ol>
  {% endif %}
</div>