{#
{{ page.header_logo }}
{{ page.primary_menu }}
{{ page.mobile_menu }}
#}

{# Header #}
<header id="masthead" class="site-header">

  <div class="top-header">
    <div class="container">
      <div class="logo">
        {{ page.header_logo }}
      </div>
      <div id="menu-toggle" class="menu-toggle" tabindex="0" role="button">
        <span class="menu-slice"></span>
        MENU
      </div>
      <div class="two-menus">
        <div class="top-small-menu">
          {{ page.topbar_menu }}
        </div>
        <div class="bottom-menu-n-search">
          {# Primary Menu #}
          {{ page.primary_menu }}
          {# Primary Menu End #}
          <div class="search-trigger">
            <a href="/search" class="search-trigger-link" aria-label="Open search form">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>
              <span class="sr-only">Search</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas-menu" aria-hidden="true">
    {# Mobile Menu #}
    {{ page.mobile_menu }}
    {# Mobile Menu End #}
  </div><!-- .offcanvas-menu -->

</header>
{# Header End #}

<div class="search-overlay" aria-hidden="true">
  <button aria-label="Close search form" class="close-button"><span class="sr-only">close</span></button>
  <div class="small container">
    <p class="search-helper">Search our site:</p>
    <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
      <div
        class="form-item js-form-item form-type-search js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
        <label for="edit-keys" class="control-label sr-only">Search</label>
        <div class="input-group">
          <input title="" data-drupal-selector="edit-keys" class="form-search form-control" placeholder="Search"
            type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" data-toggle="tooltip"
            data-original-title="Enter the terms you wish to search for.">
          <span class="input-group-btn">
            <button type="submit" value="Search" class="button js-form-submit form-submit btn-primary btn icon-only"
              name=""><span class="sr-only">Search</span>
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
              </svg>

            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
