
{# Variables #}
{% set title = content.field_item_title.0 %}
{% set id = paragraph.id() %}
{% set result_id = paragraph.view.result.0.id %}

{% block paragraph %}
  {% block content %}

    {#{% if result_id == id %}
      <button class="tab is-active" role="tab" aria-selected="true" aria-controls="tab{{ id }}-tab" id="tab{{ id }}">
        Test - {{ title }}
      </button>
    {% else %}
      <button class="tab" role="tab" aria-selected="false" aria-controls="tab{{ id }}-tab" id="tab{{ id }}" tabindex="-1">
        Test - {{ title }}
      </button>
    {% endif %}#}

    <button class="tab" role="tab" aria-selected="false" aria-controls="tab{{ id }}-tab" id="tab{{ id }}" tabindex="-1">
      Test - {{ title }}
    </button>

  {% endblock %}
{% endblock paragraph %}
